.cover {
  width: calc(1280px - 96px);
  /* min-width: calc(100vw - 96px); */
  min-height: calc((1280px - 96px) * 0.6);
  /* min-height: calc((100vw - 96px) * 0.6); */
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
}
@media screen and (max-width: 1279px) {
  .cover {
    width: 100vw;
    /* min-width: calc(100vw - 96px); */
    min-height: calc(100vw * 0.6);
    /* min-height: calc((100vw - 96px) * 0.6); */
  }
}
