.cover__background {
  width: 100%;
  min-height: calc((1280px - 96px) * 10 / 16);
  background-color: rgba(42, 44, 47, 0.3);
  /* background-color: rgba(0, 0, 0, 0.3); */
  transition: background-color 1s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: #fff;
  text-decoration: none;
}
.cover__background:hover {
  background-color: rgba(42, 44, 47, 0.8);
  /* background-color: rgba(0, 0, 0, 0.8); */
}

@media screen and (max-width: 1279px) {
  .cover__background {
    /* min-width: calc(100vw - 96px); */
    min-height: calc(100vw * 10 / 16);
    /* min-height: calc((100vw - 96px) * 0.6); */
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    gap: 16px;
  }
}
